{% extends "layouts/base.html" %}

{% block contenido %}
<main class = "container">
    <section>
        <h1 class ="text-center py-5">Ingresa un vehículo</h1>
    </section>

    <section>
        <div class= "row justify-content-center">
            <div class = "col-12 col-md-5 col-lg-4">
                <form method ="post">
                    {% csrf_token %}
                    {{form}}
                <input type="submit" class ="btn btn-primary" value ="Enviar">
                </form>
            </div>
        </div>

    </section>
</main>
{% endblock  %}